.background {
  width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
}

.heading { 
  font-family: "FuturaMedium";
  font-weight: bold;
  color: #1B1400;
  font-size: 64px;
  margin: auto;
  margin-top: 40%;
}

.shopimg {
  background: url(../images/shape.png);
  height: 30%;
  width: 75%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: auto;
  z-index: 9;
  margin-bottom: 0%;
} 

.colorspace {
  width: 50%;
  height: 100vh;
  background-color: #FEF7E6;
  display: flex;
  flex-direction: column;
  align-items:  center;
}

.whitespace {
  width: 50%;
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items:  center;
  justify-content: center;
  margin-left: auto; 
  margin-right: 0;
  text-align: right;
}

.loginheading {
  color: #000;
  font-family: "FuturaMedium";
  font-size: 29px;
  font-style: normal;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: 2.32px;
  margin-top: 17%;
  margin-bottom: -1%;
  margin-right: 36%;
}

.loginheading22 {
  color: #000;
font-family: "FuturaMedium";
font-size: 29px;
font-style: normal;
font-weight: 500;
line-height: 35px;
letter-spacing: 2.32px;
margin-top: 17%;
margin-bottom: -1%;
margin-right: 38%;
}

.input {
  width: 50%;
  border: 10px;
  height: 5%;
  font-size: 20px;
  font-family: "Poppins";
  margin-top: 4%;
  padding: 12px;
  box-sizing: border-box;
  border: 3px solid #b4b4b4;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.btext {
  display: flex;
  width: 100vh;
  flex-direction: row;
}

.btexta {
  font-size: 20px;
  font-family: "Poppins";
  margin-top: 2%;
  margin-left: 18.5%;
  width: 50%;
  padding: 12px;
  color: #4e4e4e;
}

.btextb {
  font-size: 20px;
  font-family: "Poppins";
  font-weight: bold;
  margin-top: 3.4%;
  color: #1F485B;
  margin-right: 40%;
  height: 1%;
  border: 0;
  background-color: #fff;
  cursor: pointer;
}

.btextb:hover {
  transform: scale(1.05);
  transition-duration: 0.2s;
}


.input:focus {
  border: 3px solid #555;
}

.nstep {
  border-radius: 5px;
  background: #1F485B;
  border: 0;
  border-radius: 1;
  width: 50%;
  margin-top: 4%;
  height: 6%;
  font-size: 20px;
  font-family: "FuturaMedium";
  color: #fff;
  font-style: normal;
  font-weight: 800;
  line-height: 35px;  
  letter-spacing: 3px;
  transform: scale(1);
  transition-duration: 0.2s;
  cursor:pointer;
}

.nstep:hover {
  transform: scale(1.05);
  transition-duration: 0.2s;
}
